NEXT_PUBLIC_SERVER_URL=http://localhost:3001
NEXT_PUBLIC_CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:3001

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
WEBHOOK_SECRET=

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=
